
.image-section {
    text-align: right;
    margin-top: 23px;
    margin-right: 5%;
    width: 80%;
  }
  
  .image-section img {
    max-width: 100%; 
    height: auto;
  }
  .content-container {
    display:flex;
    justify-content: space-between;
    margin: 20px;
  }

