#navbar {
  background-color: #30753d;
  padding: 10px;
  display: flex;
  align-items: center;
}

#navbar a {
  /* float: left;
  display: block; */
  color: #f7f5f5;
  /* text-align: center;
  padding: 14px 16px; */
  text-decoration: none;
  margin-right: 15px;
  margin-left: 10px
}

#navbar a:last-child{
  margin-right: 0;
}

#navbar a:hover {
  /* text-underline-offset: #0f0cad; */
  color: rgb(6, 48, 56);
}

@media screen and (max-width: 600px) {
  .navbar a {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 5px;
  }
}

  
